= content_for :title do
  = link_to "PykHub", root_url
.row
  .col-sm-12
    - if flash.present?
      - if flash.first.present?  
        - error_class_name = "has-error"
    .panel.panel-default{:style => "width: 290px; margin: 71px 0px 120px 0px; margin-left: auto; margin-right: auto;"}
      .panel-heading.text-center 
        %b Resend confirmation instructions
      .panel-content{style: "padding: 10px;"}
        = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          .form-group
            .input-group
              %span.input-group-addon= "<span class='glyphicon glyphicon-envelope'></span>".html_safe
              = f.text_field :email, class: "form-control", placeholder:"Email", id: "email"
          .form-group= f.submit "Resend confirmation instructions", class: "btn btn-success"
          .f11= render "devise/shared/links"