- url = create_user_account_cms_articles_path(@account.owner, @account.slug)
- if @cms_article.id
  - url = update_user_account_cms_article_path(@account.owner, @account.slug, @cms_article.slug)
.row
  .col-sm-12
    .panel.panel-default
      = form_for(@cms_article, url: url, html: {role: "form"}) do |f|
        .panel-heading{style: "background: #F2F2F2;"}
          .form-group= f.text_field :title, class: "form-control", placeholder: "File Name", autofocus: true 
        .panel-content{style: "padding: 10px;"}
          .form-group
            .row  
              .col-sm-6   
                = f.text_area :description, value: "", class: "form-control", required: true, id: "source", placeholder: "Write here", :onscroll => "scrolleditor()"
              .col-sm-6{:style => "max-height: 420px;"}  
                #epiceditor-preview{:style => "height: 414px; overflow:overlay; background-color:#e7cb94; border: 1px solid #CCCCCC; border-radius:5px;"}
                  %article{style: "margin-left:20px;"}
                    .editable
                      - if @cms_article.description.present?
                        = simple_format(@cms_article.description.to_s.html_safe)
          .form-group 
            - if !@cms_article.is_published
              = f.submit 'Save as Draft', class: "btn btn-default", id: "submit"
            = f.hidden_field :account_id, value: @account.id
            = f.submit "Publish", class: "btn btn-success", id: "submit"

:javascript
  $(document).ready(function() {
    $('.editable').hallo({editable: false});
    $("#source").val($(".editable").text().replace( /g | /  ,""));
  });
  var scrolleditor = function(){
    $("#epiceditor-preview").scrollTop($("#source").scrollTop());
  }
