= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li.active= @folder
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %b= @folder
        .pull-right
          = link_to "<i class='glyphicon glyphicon-plus-sign'></i> New Article".html_safe, new_user_account_cms_articles_path(@account.owner,@account.slug), class: "btn btn-success btn-xs"
      .panel-content{style: "padding: 10px;"}
        %table.table.table-condensed
          %tr
            %td= link_to "..", user_account_path(@account.owner, @account.slug)
            %td
          - if @cms_articles.first.present?
            - @cms_articles.each do |cms_article|
              %tr
                %td.col-sm-6= link_to "<i class='glyphicon glyphicon-list-alt'></i>&nbsp;&nbsp;#{cms_article.slug}".html_safe, user_account_cms_article_path(@account.owner,@account.slug, cms_article)

                %td.f11.gray.col-sm-2= "#{time_ago_in_words(cms_article.updated_at)} ago"
