%h1 Listing cms_articles

%table
  %tr
    %th Account
    %th Title
    %th Description
    %th Published at
    %th Is published
    %th Created by
    %th Updated by
    %th
    %th
    %th

  - @cms_articles.each do |cms_article|
    %tr
      %td= cms_article.account_id
      %td= cms_article.title
      %td= cms_article.description
      %td= cms_article.published_at
      %td= cms_article.is_published
      %td= cms_article.created_by
      %td= cms_article.updated_by
      %td= link_to 'Show', cms_article
      %td= link_to 'Edit', edit_cms_article_path(cms_article)
      %td= link_to 'Destroy', cms_article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Cms article', new_cms_article_path
