- url = create_user_account_data_filzs_path(@account.owner, @account.slug)
= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "data", user_account_data_filzs_path(@account.owner, @account.slug)
    - if @data_filz.id.present?
      %li= link_to @data_filz.file_file_name, user_account_data_filz_path(@account.owner, @account.slug, file_id: @data_filz.slug)
      %li.active Edit
      - url = update_user_account_data_filz_path(@account.owner, @account.slug, @data_filz.slug)
    - else
      %li.active New file

.row
  .col-sm-12
    .panel.panel-default
      = form_for(@data_filz, url: url, :html => { role: "form" }) do |f|
        = f.text_area :content, value: "", id: "content", hidden: true
        = f.hidden_field :account_id, value: @account.id
        .panel-heading{style: "background: #F2F2F2; height: 50px;"}
          = f.text_field :file_file_name, class: "form-control", placeholder: "File Name", autofocus: true, id: "data_file_file_name"
          .pull-right
            %button.btn.btn-default.btn-xs#transpose_hands_grid Transpose
            %input#search_in_hands_grid{:placeholder => "Search", :type => "text"}
        .panel-content{style: "padding: 10px;"}
          .form-group
            -if @data_filz.errors.present?
              - @data_filz.errors[:content].each do |c_error|
                %span.label.label-danger
                  = c_error
            #grid{style: "height: 350px;"}
          .form-group
            = f.text_field :commit_message, class: "form-control", placeholder: "Commit Message"
          .form-group
            = f.submit "Save", class: "btn btn-success", id: "submit"



:javascript
  var content =  eval(#{@data_filz[:content]});
  content = (content === undefined) ? [] : content;

  handsontable_with_filter("#grid", content, false);
  $('#submit').click(function() {
    remove_null_rows("#grid");
    remove_null_cols("#grid");
    var rowList = $("#grid").handsontable("getData");
    $('#content').val(JSON.stringify(rowList));
  });
