= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li.active data
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %b= "<i class='glyphicon glyphicon-folder-open'></i>&nbsp;&nbsp;data".html_safe
        .pull-right
          = link_to "<i class='glyphicon glyphicon-plus-sign'></i> New".html_safe, new_user_account_data_filzs_path(@account.owner, @account.slug), class: "btn btn-success btn-xs"
          = link_to "<i class='glyphicon glyphicon-import'></i> Pull from APIs".html_safe, apis_user_account_data_filzs_path(@account.owner, @account.slug), class: "btn btn-success btn-xs"
      .panel-content{style: "padding: 10px;"}
        %table.table.table-condensed
          %tr
            %td= link_to "..", user_account_path(@account.owner, @account.slug)
            %td
            %td
          - if @data_filzs.first.present?
            - @data_filzs.each do |data_filz|
              %tr
                %td.col-sm-6= link_to "<i class='glyphicon glyphicon-list-alt'></i>&nbsp;&nbsp;#{data_filz.file_file_name}".html_safe, user_account_data_filz_path(@account.owner, @account.slug, file_id: data_filz.slug)
                %td.f11.gray.col-sm-4= data_filz.commit_message
                %td.f11.gray.col-sm-2= "#{time_ago_in_words(data_filz.updated_at)} ago"