= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "data", user_account_data_filzs_path(@account.owner, @account.slug)
    %li.active New Data Set
.row
  .col-sm-12
    .panel.panel-default
      = form_for(@data_filz, url: create_user_account_data_filzs_path(@account.owner, @account.slug), :html => { method: :post,  role: "form" }) do |f|
        .panel-heading{style: "background: #F2F2F2; height: 50px;"}
          .form-group
            = f.text_field :file_file_name, class: "form-control", placeholder: "File Name", autofocus: true, class: "col-sm-8"
            .pull-right
              %button.btn.btn-default.btn-xs#transpose_hands_grid Transpose
              |                             
              %input#search_in_hands_grid{:placeholder => "Search", :type => "text"}
        .panel-content{style: "padding: 10px;"}
          .form-group
            - if @editor == "text"
              = f.text_area :content, class: "form-control"
            - elsif @editor == "csv"
              #grid{style: "height: 350px;"}
              = f.text_area :content, value: "", id: "content", hidden: true
              = f.hidden_field :category, value: "data"
              = f.hidden_field :file_content_type, value: "csv"
          .form-group
            = f.text_field :commit_message, class: "form-control", placeholder: "Commit Message"
            = f.hidden_field :account_id, value: @account.id
          .form-group
            = f.submit "Create", class: "btn btn-success", id: "submit"
:javascript
  
  handsontable_with_filter("#grid", [], false);

  $('#submit').click(function() {
    remove_null_rows("#grid");
    remove_null_cols("#grid");  
    var rowList = $("#grid").handsontable("getData");
    $('#content').val(JSON.stringify(rowList));
  });
