= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    - if @folder.blank?
      %li= link_to "data", user_account_data_filzs_path(@account.owner, @account.slug)
    %li.active= @data_filz.file_file_name
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %i.glyphicon.glyphicon-list-alt
        &nbsp;
        %b= @data_filz.file_file_name
        %span.pull-right
          = link_to "Edit", edit_user_account_data_filz_path(@account.owner, @account.slug, file_id: @data_filz.slug), class: "btn btn-default btn-xs"
          - if @editor == "csv"
            %input#search_in_hands_grid{:placeholder => "Search", :type => "text"}
            = link_to "<i class='glyphicon glyphicon-cloud-download'></i>".html_safe, csv_user_account_data_filz_path(@account.owner, @account.slug, file_id: @data_filz.slug), class: "btn btn-default btn-xs"
          = link_to "Raw", raw_user_account_data_filz_path(@account.owner, @account.slug, file_id: @data_filz.slug), class: "btn btn-default btn-xs"
          - if !@disable_delete
            = link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, delete_user_account_data_filz_path(@account.owner, @account.slug, file_id: @data_filz.slug),  confirm: 'Are you sure?', class: "btn btn-danger btn-xs"
      .panel-content{style: "padding: 10px;"}        
        - if @editor == "text"
          = @data_filz.content
        - elsif @editor == "csv"
          #grid{style: "height: 470px;"}

- if @editor == "csv"
  :javascript
    var content =   eval(#{@data_filz.content});
    handsontable_with_filter("#grid", content, true);