= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "data", user_account_data_filzs_path(@account.owner, @account.slug)
    - if @data_filz.id.present?
      %li= link_to @data_filz.file_file_name, user_account_data_filz_path(@account.owner, @account.slug, file_id: @data_filz.slug)
      %li.active Edit
      - url = update_user_account_data_filz_path(@account.owner, @account.slug, @data_filz.slug)      
    - else
      %li.active New file
      - url = create_user_account_data_filzs_path(@account.owner, @account.slug)
      
.row
  .col-sm-12
    .panel.panel-default
      = form_for(@data_filz, url: update_user_account_data_filz_path(@account.owner, @account.slug, file_id: @data_filz.slug), :html => { method: :put,  role: "form" }) do |f|
        .panel-heading{style: "background: #F2F2F2; height: 50px;"}
          = f.text_field :file_file_name, class: "form-control", placeholder: "File Name", autofocus: true
        .panel-content{style: "padding: 10px;"}  
          .form-group
            .row  
              .col-sm-6   
                #editor
                  #toolbar.wmd-toolbar
                  = f.text_area :content, id: "input", cols:"65", rows:"20",class: "form-control wmd-input", required: true,placeholder: "Write here", :onscroll => "scrolling('textarea')", :onkeyup => "scrolling('textarea')"
              .col-sm-6
                %br
                %br
                #preview.wmd-preview{:style => "height: 420px; overflow:auto;background: #e7cb94; padding: 0px 10px;"}  
          .form-group= f.text_field :commit_message, class: "form-control", placeholder: "Commit Message"
          .form-group= f.submit "Save", class: "btn btn-success", id: "submit"

:javascript
  $(document).ready(function() {    
    $("#highlightCode").click(function(){
      $.SyntaxHighlighter.init({
      'lineNumbers': false,
      'debug': true
      });
    });  
    new WMD("input", "toolbar", { preview: "preview" });
  });
  var scrolling = function(opt){
    if(opt=='textarea'){
      $("#preview").scrollTop($("#input").scrollTop());
    }else{
      //$("#source").scrollTop($("#epiceditor-preview").scrollTop());
    }
  }
