= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li.active Settings

.row
  .col-sm-2=render partial: "users/sidebar"
  .col-sm-8
    .panel.panel-default
      .panel-heading Profile
      .panel-body
        = form_for(@user, url: update_user_path(@user.username), :html => { method: :put,  role: "form" }) do |f|
          .form-group
            %label Name
            = f.text_field :name, class: "form-control"          
          .form-group
            %label 
            = f.submit "Save", class: "btn btn-success"
        
        
    