= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to @folder, user_account_data_files_path(@account.owner, @account.slug, folder_id: @folder)
    %li.active Pull data from APIs
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading{style: "background: #F2F2F2;"} Pull data from APIs
      .panel-content{style: "padding: 10px;"}
        - if @data_queries.first.present?
          %table.table.table-condensed.table-hover
            - @data_queries.each do |query|
              %tr
                %td= query.name
                %td= query.source_s
                %td
                  = query.description
                  %br
                  .f12
                    %b Dimensions:
                    %span.gray= query.dimensions
                    %br
                    %b Metrics:
                    %span.gray= query.metrics
                %td
                  - if !query.is_oauth_done
                    Not connected
                  - elsif query.is_used
                    Already pulled
                  - else
                    = link_to "Pull", pull_user_account_data_files_path(@account.owner, @account.slug, folder_id: @folder, qid: query.id), class: "btn btn-success"