- url = create_user_account_cms_images_path(@account.owner, @account.slug)
- if @cms_image.id
  - url = update_user_account_cms_image_path(@account.owner, @account.slug, @cms_image.slug)

.row
  .col-sm-12
    .panel.panel-default
      = form_for(@cms_image, url: url, html: {multipart: true, role: "form"}) do |f|
        .panel-heading{style: "background: #F2F2F2;"}
          .form-group= f.text_field :title, class: "form-control", placeholder: "File Name", autofocus: true 
          = f.hidden_field :account_id, value: @account.id
        .panel-content{style: "padding: 10px;"}
          .form-group
            = f.file_field :image_file, class: "form-control", required: true
          .form-group 
            = f.submit "Upload", class: "btn btn-success", id: "submit"