= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li.active images
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %b= "<i class='glyphicon glyphicon-folder-open'></i>&nbsp;&nbsp;images".html_safe
        .pull-right
          = link_to "<i class='glyphicon glyphicon-cloud-upload'></i> Upload".html_safe, new_user_account_cms_images_path(@account.owner,@account.slug), class: "btn btn-success btn-xs"
      .panel-content{style: "padding: 10px;"}
        %table.table.table-condensed
          %tr
            %td= link_to "..", user_account_path(@account.owner, @account.slug)
            %td
          - if @cms_images.first.present?
            - @cms_images.each do |cms_image|
              %tr
                %td.col-sm-6= link_to "<i class='glyphicon glyphicon-list-alt'></i>&nbsp;&nbsp;#{cms_image.slug}".html_safe, user_account_cms_image_path(@account.owner,@account.slug, cms_image)

                %td.f11.gray.col-sm-2= "#{time_ago_in_words(cms_image.updated_at)} ago"
