= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "images", user_account_cms_images_path(@account.owner, @account.slug)
    %li.active= @cms_image.title
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading{style: "background: #F2F2F2; height: 50px;"}
        %b= @cms_image.title
    = image_tag @cms_image.image_file_url, class: "col-sm-10"
