= simple_form_for(@viz_viz, html: {class: 'form-vertical', role: "form"}) do |f|
  = f.error_notification
  = f.input :title, placeholder: "", input_html: {}, hint: "", label_html: {}, required: true
  = f.input :data_filz_id, placeholder: "", input_html: {}, hint: "", label_html: {}, required: true
  = f.input :viz_chart_id, placeholder: "", input_html: {}, hint: "", label_html: {}, required: true
  = f.input :map, placeholder: "", input_html: {}, hint: "", label_html: {}, required: true
  = f.input :mapped_output, placeholder: "", input_html: {}, hint: "", label_html: {}, required: true
  = f.input :settings, placeholder: "", input_html: {}, hint: "", label_html: {}, required: true
  = f.button :submit, (@viz_viz.id.present? ? 'Update' : 'Add'), class: "btn btn-success"
  = link_to "Cancel", nil, style: "font-size: 11px;"