= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "visualizations", user_account_viz_vizs_path(@account.owner, @account.slug)
    %li= link_to @viz_viz.title, user_account_viz_viz_path(@account.owner, @account.slug, file_id: @viz_viz.slug)
    %li.active Map
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %i.glyphicon.glyphicon-list-alt
        &nbsp;
        %b= @viz_viz.title
      .panel-content{style: "padding: 10px;"}
        .col-sm-6
          %h5 Transformed output
          - if 1 == 1
            - if @mapped_output.present?
              %table.table.table-condensed.table-hover
                - @mapped_output[0]["values"].each do |m|
                  %tr
                    %td= m["label"]
                    %td= m["value"]
        .col-sm-6
          = "."