= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li.active visualizations
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %b visualizations
        .pull-right
          = link_to "<i class='glyphicon glyphicon-plus-sign'></i> New visualizationt".html_safe, new_user_account_viz_vizs_path(@account.owner, @account.slug), class: "btn btn-success btn-xs"
      .panel-content{style: "padding: 10px;"}
        %table.table.table-condensed
          %tr
            %td= link_to "..", user_account_path(@account.owner, @account.slug)
            %td
            %td
          - if @viz_vizs.first.present?
            - @viz_vizs.each do |viz|
              %tr
                %td.col-sm-6= link_to "<i class='glyphicon glyphicon-list-alt'></i>&nbsp;&nbsp;#{viz.title}".html_safe, user_account_viz_viz_path(@account.owner, @account.slug, file_id: viz.slug)
                %td.f11.gray.col-sm-2= "#{time_ago_in_words(viz.updated_at)} ago"