= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "visualizations", user_account_viz_vizs_path(@account.owner, @account.slug)
    %li= link_to @viz_viz.title, user_account_viz_viz_path(@account.owner, @account.slug, file_id: @viz_viz.slug)
    %li.active Map
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %i.glyphicon.glyphicon-list-alt
        &nbsp;
        %b= @viz_viz.title
        %button.btn.btn-primary#get-pie Next &raquo;
      .panel-content{style: "padding: 10px;"}
        %h4 Map columns to Chart
        #pie-mapper.row
          #user-variables.col-sm-4
          - @viz_viz.reference_map.each do |m|
            .col-sm-2
              %h5= m[0]
              .takes-drop{"id" => m[0] + "-drop", "data-droptype" => m[1], "map_identifier" => m[0]} Drop Here              
-if @viz_viz.map.present?
  -dbmap = @viz_viz.map
-else
  -dbmap = "'NA'"
 

:javascript
  var pm = new Mapper({
    DATA: [#{@viz_viz.headers}],
    MAP: #{dbmap},
    URL: "/#{@account.owner.slug}/#{@account.slug}/visualizations/#{@viz_viz.slug}/put_map"
  });
  pm.init();

  $("#get-pie").click(function(){
      pm.mappingData();
  });
