= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "visualizations", user_account_viz_vizs_path(@account.owner, @account.slug)
    %li.active New Visualization
.row
  .col-sm-10
    .panel.panel-default
      = form_for(@viz_viz, url: create_user_account_viz_vizs_path(@account.owner, @account.slug), :html => { method: :post,  role: "form" }) do |f|
        .panel-heading{style: "background: #F2F2F2;"}
          .form-group= f.text_field :title, class: "form-control", placeholder: "Title", autofocus: true, id: "viz-data_title"
        .panel-content{style: "padding: 10px;"}
          .form-group
            %label Data Set
            %br
            = f.select :data_filz_id, options_for_select(@data_filzs.map{|z| [z.file_file_name, z.id]})
          .form-group
            %label Chart
            .row
              .col-sm-3
                %ul#viz-types.nav.nav-pills.nav-stacked
                  - if !@viz_types.nil?
                    - @viz_types.each do |viz_type|
                      %li
                        %a{:href => "javascript:void()", "data-viz" => viz_type.downcase.gsub(" ", "_")}= viz_type

              .col-sm-8
                - if !@vizs.nil?
                  - @vizs.each do |viz|
                    .row.viz{class: "#{viz.genre.downcase.gsub(' ', '_')} viz-genre" , "data-id" => viz.id}
                      .col-sm-3
                        %img{:src => viz.img, :class => "viz_image"}
                      .col-sm-5
                        %h4= viz.name
                        %p= viz.description

            %br
            = f.hidden_field :viz_chart_id
          .form-group
            = f.hidden_field :account_id, value: @account.id
          .form-group
            = f.submit "Create", class: "btn btn-success", id: "submit"

:javascript

  $(document).ready(function() {
    $("#submit").click(function() {

      if (!$(".viz-genre").hasClass("active")) {
        alert("Please Select Chart")
        return false;
      }
    })
  });
