= content_for :breadcrumb do
  %ol.breadcrumb
    %li= link_to "Home", root_url
    %li= link_to @account.owner.username, user_path(@account.owner)
    %li= link_to @account.slug, user_account_path(@account.owner, @account.slug)
    %li= link_to "visualizations", user_account_viz_vizs_path(@account.owner, @account.slug)
    %li=  @viz_viz.title
.row
  .col-sm-12
    .panel.panel-default
      .panel-heading
        %i.glyphicon.glyphicon-list-alt
        &nbsp;
        %b= @viz_viz.title
      .panel-content{style: "padding: 10px;"}
        .col-sm-6
          %h5 Transformed output
          - if @mapped_output.present?
            = JSON.parse(@mapped_output)